h1{
text-align: center;/*alinhando texto no centro*/

color: aquamarine;/*cor do centro*/
background-color: rgb(187, 183, 179);  
}
body{
background-color: azure;/*cor do fundo*/
text-transform: uppercase;/*deixa o texto maiúsculo*/

}
h1{
color: antiquewhite;

}
h1{
    color: beige;
text-transform: lowercase;
border: 4px solid black;/*1° espessura 2° tipo 3° cor*/
border-radius: 8px;
}
img{
 width: 700px;
 border-radius: 40px;   
}